.aboutIntro{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aboutWordStyle{
    margin: 0;
    padding: 5px;
    font-family: "Bowlby One SC"; 
    font-size: 10vh; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: #282c34;
}

.transitionWord{
    display: block;
}

@media (orientation:portrait), (max-width: 715px){
    .aboutIntro{
        flex-direction:column;
        align-items: flex-end;
    }
    

    .aboutWordStyle,.transitionWord{
        margin-right:5%;
    }
}












/* Old CSS for flipable

.aboutCards{
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 30vw;
    height: 80vh;
    
}

.flipable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 3s;
    
    transform-style: preserve-3d;
    box-sizing: border-box;
}

.introAndEdu{
    backface-visibility: hidden;
}

.left > .aboutIntroCard{
    display: none;
}
/**********Intro Page*************
.aboutIntroCard{
    background-color:rgb(224, 168, 223);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutIntroCard::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid currentColor;
    transform: translateZ(2em);
}

.aboutCardTitle{
    font-size: 3.5rem;
    transform: translateZ(2em);
    text-transform: uppercase;
    margin: 0;
}

.aboutCardSubtitle{
    transform: translateZ(8em);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: bold;
    opacity: .7;
}

/**********Education Page*************

.aboutEducationCard{
    background-color: #282c34;
    color: #b7c9e5;
    backface-visibility: hidden;
    transform: rotateY(.5turn);
    overflow-y: hidden;
}

/**********Credits Page*************

.aboutCreditsCard{
    background-color: #282c34;
    color: #b7c9e5;
    backface-visibility: hidden;
    transform: rotateY(.5turn);
    overflow-y: hidden;
}

.aboutCreditsListBox{
    overflow-y: scroll;
    height: 80%;
}


.aboutCreditsListBox::-webkit-scrollbar {
    width: 0px;
}
  

.creditsList{
    text-align: left;
    margin: 16px;
}

.creditsLink{
    color: #b7c9e5;
    text-decoration: underline;
}

.creditsLink:hover{
    color: #ee61fb;
}

/* .aboutCardSmallTitle{
    
    transform: translateZ(2rem);
} *


.left{
    transform: rotateY(-.5turn);
    
}
.front{
    transform: rotateY(0turn);
}

.aboutCardVerySmallTitle{
    font-size: 1rem;
    text-align: left;
    margin-left: 16px;
    text-decoration: underline;
}

/* .aboutCards:hover > .aboutIntroCard {
    transform: rotateY(-.5turn);
}

.aboutCards:hover > .aboutCreditsCard {
    transform: rotateY(0turn);
} */

/* .left {
    transform: rotateY(-.5turn);
}

.active {
    transform: rotateY(0turn);
}

.right{
    transform: rotateY(.5turn);
} *

.bigSpacer{
    height: 75vh;
}

.mediumSpacer{
    height: 50vh;
}



@media (orientation:portrait), (max-width: 715px){
    .aboutCards{
        width: 80vw;
        height: 70vh;
    }

    .aboutCardTitle{
        font-size: 2.5rem;
    }
  } */