.SideBar {
  position: fixed;
  width: 60px;
  height: 100vh;
  background-color: #282c34;
  color: white;
  box-shadow: 5px 0px 5px 2px rgb(109, 107, 112);
  transition-duration: 1s;
}

.SideBarOpen {
  width: 200px;
}

.Bars {
  color: #61dafb;
  width: 40px;
  height: 40px;
  margin: 0px 10px 10px 10px;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  transition-duration: 1s;
}
.Bars:hover{
  cursor: pointer;
}

.SideBarArrow {
  margin: 0;
  transition-duration: 1s;
}

.Rotate {
  transform: rotate(180deg);
}

.Menu {
  color: white;
  text-align: center;

}

.menu-option {
  color: #61DBFB;
  text-decoration: none;
}

.menu > .menu-option:hover {
  background-color: #61DBFB;
  border-radius: 5px;
}

Link, Link > p, a {
  text-decoration: none;
}

.App {
  text-align: center;
  display: inline-block;
  padding-left: 60px;
  width: 100%;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Hidden {
  display:none;
}