.RasterCaster {
    margin: 2.5%;
}

#rasterCasterCanvas {
    position: fixed;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
}

.controls {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    justify-items: end;
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: rgba(230, 230, 230, 0.8);
    padding: 10px;
    border-radius: 10px;
}