.loadingIcon {
  height: 40vmin;
  pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
  .loadingIcon {
    animation: Loading-Icon-spin infinite 20s linear;
  }
}

@keyframes Loading-Icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}