:root{
  --white: rgb(229, 233, 255);
  --gray: rgb(157. 158, 181);
  --blue: rgb(61, 127, 195);
  --black: rgb(0, 44, 64);
  --light-blue: rgb(186, 209, 241);
}
html{
  background-color: var(--white);
  color: var(--black);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
